footer{
    /* background-color: #FAFBFF; */
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);
    position: relative;
}

.footer-container{
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials{
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    font-size: 1.5rem;
    cursor: pointer;
}

.social:hover{
    color: #282F4D;
}

.footer-icon{
    font-size: 2.5rem;
    color: #282F4D;
    position: absolute;
    right: 2rem;
    top: 0.7rem;
    rotate: 270deg;
}
.footer-icon:hover{
    font-size: 3rem;
    color: #363636;
    cursor: pointer;
}

@media screen and (max-width:780px) {
    .footer-container{
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        width: fit-content;
        margin-left: 1rem;
        /* padding: 1rem 0; */
        justify-content: center;
        /* background-color: aqua; */
    }

    .socials{
        margin-bottom: 1rem;
    }

    footer{
        padding: 1rem 0;
        height: 6rem;
    }

    .footer-icon{
        font-size: 2rem;
        color: #282F4D;
        position: absolute;
        right: 0.5rem;
        top: 1rem;
        rotate: 270deg;
    }

}